In [1]:
1+1

2

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('to_predict.csv')

In [4]:
df

,Date,btc_price,btc_open,btc_high,btc_low,btc_change,gold_price,gold_open,gold_high,gold_low,...,us30_high,us30_low,us30_change,usidx_price,usidx_open,usidx_high,usidx_low,usidx_change,btc_rsi,direction
0,2024-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2024-05-21,70139.9,71430.5,71872.0,69181.7,-1.81,2425.40,2430.30,2438.05,2409.55,...,39905.80,39779.90,0.17,104.65,104.60,104.77,104.48,0.05,66.711532,0.0
2,2024-05-22,69155.4,70141.0,70593.4,69024.3,-1.41,2392.90,2425.40,2430.50,2378.00,...,39890.48,39559.64,-0.43,104.91,104.65,104.97,104.56,0.25,67.071772,0.0
3,2024-05-23,67975.7,69166.3,70041.0,66578.1,-1.72,2337.20,2383.00,2385.70,2328.10,...,39694.95,39026.79,-1.59,105.06,104.91,105.11,104.63,0.14,60.847008,0.0
4,2024-05-24,68547.6,67971.1,69212.0,66685.8,0.85,2337.20,2383.00,2385.70,2328.10,...,39694.95,39026.79,-1.59,105.06,104.91,105.11,104.63,0.14,68.556639,1.0
5,2024-05-25,69284.4,68548.2,69558.8,68516.1,1.07,2353.65,2360.90,2371.35,2336.00,...,39024.08,38706.21,-0.36,104.74,104.75,104.75,104.70,-0.01,69.586402,1.0
6,2024-05-26,68514.8,69287.2,69494.0,68294.5,-1.11,2353.65,2360.90,2371.35,2336.00,...,39024.08,38706.21,-0.36,104.74,104.75,104.75,104.70,-0.01,66.203840,0.0
7,2024-05-27,69428.7,68514.6,70638.3,68275.2,1.33,2353.65,2360.90,2371.35,2336.00,...,39024.08,38706.21,-0.36,104.60,104.75,104.75,104.57,-0.14,65.336257,1.0
8,2024-05-28,68366.0,69428.3,69560.7,67299.9,-1.53,2367.30,2348.70,2375.20,2347.70,...,39028.99,38706.14,-0.45,104.67,104.56,104.67,104.33,0.11,66.291925,0.0
9,2024-05-29,67635.8,68366.2,68897.6,67143.2,-1.07,2352.00,2372.90,2373.50,2346.00,...,38716.28,38413.67,-0.71,105.13,104.67,105.14,104.59,0.44,54.165461,0.0
10,2024-05-30,69349.0,67631.3,69349.5,67138.4,2.54,2365.10,2337.15,2373.45,2321.15,...,38368.35,38002.13,-0.50,104.66,105.13,105.18,104.63,-0.45,61.664136,NaN

In [5]:
df_new = df[['Date','btc_price','btc_open','btc_high','btc_low','btc_change','btc_rsi']]

In [6]:
df_new

          Date  btc_price  btc_open  btc_high  btc_low  btc_change    btc_rsi
0   2024-05-20        NaN       NaN       NaN      NaN         NaN        NaN
1   2024-05-21    70139.9   71430.5   71872.0  69181.7       -1.81  66.711532
2   2024-05-22    69155.4   70141.0   70593.4  69024.3       -1.41  67.071772
3   2024-05-23    67975.7   69166.3   70041.0  66578.1       -1.72  60.847008
4   2024-05-24    68547.6   67971.1   69212.0  66685.8        0.85  68.556639
5   2024-05-25    69284.4   68548.2   69558.8  68516.1        1.07  69.586402
6   2024-05-26    68514.8   69287.2   69494.0  68294.5       -1.11  66.203840
7   2024-05-27    69428.7   68514.6   70638.3  68275.2        1.33  65.336257
8   2024-05-28    68366.0   69428.3   69560.7  67299.9       -1.53  66.291925
9   2024-05-29    67635.8   68366.2   68897.6  67143.2       -1.07  54.165461
10  2024-05-30    69349.0   67631.3   69349.5  67138.4        2.54  61.664136

In [7]:
df_new2 = df_new.tail(10)

In [10]:
df_new2.set_index('Date')

            btc_price  btc_open  btc_high  btc_low  btc_change    btc_rsi
Date
2024-05-21    70139.9   71430.5   71872.0  69181.7       -1.81  66.711532
2024-05-22    69155.4   70141.0   70593.4  69024.3       -1.41  67.071772
2024-05-23    67975.7   69166.3   70041.0  66578.1       -1.72  60.847008
2024-05-24    68547.6   67971.1   69212.0  66685.8        0.85  68.556639
2024-05-25    69284.4   68548.2   69558.8  68516.1        1.07  69.586402
2024-05-26    68514.8   69287.2   69494.0  68294.5       -1.11  66.203840
2024-05-27    69428.7   68514.6   70638.3  68275.2        1.33  65.336257
2024-05-28    68366.0   69428.3   69560.7  67299.9       -1.53  66.291925
2024-05-29    67635.8   68366.2   68897.6  67143.2       -1.07  54.165461
2024-05-30    69349.0   67631.3   69349.5  67138.4        2.54  61.664136

In [14]:
df_new3 = df_new2.set_index('Date')

In [16]:
df_new3.tail(5).to_csv('bitcoin.csv', index=True)

In [2]:
import datetime
from datetime import date, timedelta

In [4]:
x= date.today()

In [6]:
x

datetime.date(2024, 5, 31)

In [7]:
x - timedelta(days=7)

datetime.date(2024, 5, 24)